<p>
  Curling has been described as the “Roarin’ Game”, with the “roar” coming from the noise of a granite stone as it travels over the ice. The exact origins of the game, however, are unclear, but curling is widely believed to be one of the world’s oldest team sports.</p>


<p>Paintings by a 16th century Flemish artist, Pieter Bruegel (1530-1569) portrayed an activity similar to curling being played on frozen ponds. The first written evidence appeared in Latin, when in 1540, John McQuhin, a notary in Paisley, Scotland, recorded in his protocol book a challenge between John Sclater, a monk in Paisley Abbey and Gavin Hamilton, a representative of the Abbot. The report indicated that Sclater threw a stone along the ice three times and asserted that he was ready for the agreed contest.</p>

<p>What is clear, however, is that what may have started as an enjoyable pastime of throwing stones over ice during a harsh Northern European winter, has evolved into a popular modern sport with its own world championships, which attract fans and large television audiences.</p>

<p>Curling in its early days was played on frozen lochs and ponds. A pastime still enjoyed in some countries when weather permits, but all national and international competitive curling competitions now take place in indoor rinks with the condition of the ice carefully temperature-controlled.</p>

<p>It is also clear that the first recognised Curling Clubs were formed in Scotland, and during the 19th century the game was exported wherever Scots settled around the world in cold climates, most notably at that time in Canada, USA, Sweden, Switzerland, Norway and New Zealand.</p>

<p>The first Rules were drawn up in Scotland, and they were formally adopted as the “Rules in Curling” by the Grand Caledonian Curling Club, which was formed in Edinburgh in 1838 and became the sport’s governing body. Four years later, following a demonstration of curling on the ballroom floor of Scone Palace near Perth by the Earl of Mansfield during a visit by Queen Victoria, the Queen was so fascinated by the game that in 1843 she gave permission for the Club’s name to be changed to the Royal Caledonian Curling Club (RCCC) – by which it is still known today.</p>

<p>It is recorded that international curling events were staged in the 19th century in Europe and North America, but it was not until the first Olympic Winter Games in 1924, in Chamonix, France that any form of official international competition took place for men’s teams. Great Britain defeated Sweden and France in what was retroactively accepted in 2006 by the International Olympic Committee (IOC) as curling’s Olympic debut, with medals awarded.</p>

<p>In 1932 at Lake Placid, USA, curling again was listed but this time as a demonstration sport at the Winter Olympics. Canada was the winner over the United States in a two-country competition where each nation entered four Men’s teams.</p>

<p>Another 25 years passed before a meeting was held in Edinburgh in 1957 to consider the formation of an international organisation which would be required in order to apply for Olympic medal status. No progress was documented, but two years later, in 1959, Scotland and Canada reached a major milestone by launching the Scotch Cup series between their national men's curling champions.</p>

<p>Interest in other countries was generated, and USA (1961), Sweden (1962), Norway and Switzerland (1964), France (1966) and Germany (1967) expanded the Scotch Cup entry. The 1959-1967 results now are recognised in the curling history of the men's world championship.</p>

<p>The success of the Scotch Cup series led to another attempt, in March 1965, to create a global administration. The Royal Caledonian Curling Club (Scotland) convened a meeting in Perth, Scotland, and six countries – Scotland, Canada, USA, Sweden, Norway and Switzerland – agreed to a proposal to form an international committee of the Royal Club, to be called the International Curling Federation (ICF).</p>

<p>The following year, in March, 1966, in Vancouver, Canada, a draft constitution for the ICF was considered by seven countries – France was added to the original six – and the Federation was declared to be established as of April 1, 1966. Though in attendance at these meeting, USA opted to be there in an observational capacity only and therefore didn’t become a member of the ICF until 1967.</p>

<p>The constitution was approved in March 1967, at Perth, and a set of rules for international competition was proposed. At the Federation's annual meeting in 1968 in Pointe-Claire, Quebec, these rules were adopted, but are subject to amendment and revision each year.</p>

<p>Also in 1968, the Air Canada Silver Broom replaced the Scotch Cup, and it was sanctioned as the World Curling Championship. In 1975, the Federation endorsed the World Junior Men's Curling Championship; in 1979 the Ladies’ Curling Championship; and in 1988, the World Junior Ladies’ Curling Championship. The four events were combined into two in 1989 at Milwaukee, Wisconsin, and Markham, Ontario, and became known as the World Curling Championships (WCC) and the World Junior Curling Championships (WJCC).</p>

<p>The Constitution had a significant adjustment in 1982, when the Federation was declared an independent entity and approved as the governing body for curling in the world, while the Royal Caledonian Curling Club was acknowledged as the ‘Mother Club of Curling’.</p>

<p>In 1990, the name of the Federation was changed to the World Curling Federation (WCF).</p>

<p>Curling was a demonstration sport for a second and third time at the Olympic Winter Games of 1988 (Calgary) and 1992 (Albertville) for teams of men and women.</p>

<p>On 21 July 1992, at its session in Barcelona, Spain, the International Olympic Committee granted official medal status to men’s and women’s curling, to take effect no later than the Olympic Winter Games of 2002, with an option for inclusion in 1998 at Nagano, Japan. During the meeting of the IOC Executive Board held June 22-23, 1993 in Lausanne, the Organising Committee of the Nagano Olympic Winter Games (NAOC) officially agreed to include curling in the programme of the XVIII Olympic Winter Games in 1998. Eight teams for men and women participated in Nagano, and this was increased to ten from the Salt Lake City Olympic Winter Games of 2002 onwards.</p>

<p>At the Semi-Annual General Assembly of the Federation in Leukerbad, Switzerland, in December 1993, a revised Constitution was adopted. This included changes to the Management Structure. The revised structure became operational following the election of the Executive Board at the Annual General Assembly in Oberstdorf, Germany, in April 1994.</p>

<p>From 1966 to 1994, the administration of the ICF and WCF was the responsibility of employees of the RCCC. Following the adoption of the revised Constitution, the WCF set up its own Head Office and Secretariat in Edinburgh, Scotland in 1994.</p>

<p>At the Semi-Annual General Assembly of the Federation in Grindelwald, Switzerland in December 1995, a completely re-written Constitution was adopted in order to comply with Swiss law following the Federation’s registration in that country.</p>

<p>In May 2000, the WCF Secretariat moved from Edinburgh to Perth, Scotland.</p>

<p>The first World Wheelchair Curling Championship was held in January 2002 and in March that year, the International Paralympic Committee (IPC) granted official medal status to wheelchair curling for mixed gender teams. The Organising Committee of the Torino Paralympic Winter Games 2006 agreed to include wheelchair curling in its programme.</p>

<p>Other international events introduced in 2002 included World Senior Championships for men and women. In 2003, curling was featured on the programmes of the World University Winter Games and the Asian Winter Games for the first time.</p>

<p>In 2005, the World Men’s and Women’s Championships were separated once again, and held in different parts of the world. Also that year, the European Youth Olympic Festival introduced a curling competition for junior men and women between 15 and 18 years of age. Curling also became part of the inaugural Youth Olympic Winter Games in Innsbruck, Austria in 2012.</p>

<p>The growth of the sport in Asia was recognised with the first World Women’s Curling Championship being held in Aomori, Japan, in 2007 and the first World Men’s Curling Championship to be held in Asia taking place in Beijing, China, in 2014.</p>

<p>In 2008, the first World Mixed Doubles Curling Championship was staged in Vierumäki, Finland. Mixed Doubles Curling marks a break from traditional curling, as teams are comprised of two players – one male and one female. In 2015, the discipline was accepted as an additional event for the 2018 Olympic Winter Games, in PyeongChang, Korea.</p>

<p>In 2015, the International Paralympic Committee (IPC) also confirmed that the wheelchair curling event in PyeongChang in 2018 would be expanded from 10 to 12 teams.</p>

<p>At the 2014 WCF Annual General Assembly, the decision was taken to expand the European Mixed Curling Championship to a worldwide event. The inaugural World Mixed Curling Championship was staged in Berne, Switzerland in September 2015.</p>

<p>Also in season 2014-2015, ‘Curling: Pure Emotion’, a sculpture by curler Bjorn Zyrd was unveiled, by President Kate Caithness, at the Olympic Museum Park in Lausanne, Switzerland. This was the first Olympic Winter sport to have such an artefact at the museum.</p>

<p>In 2016, the World Curling Federation celebrated its 50th anniversary. That year a Sweeping Summit was arranged near Ottawa, Canada to address the rules of sweeping. This resulted in one of the sport’s most significant set of rule changes to date, following a season that challenged the conventions of how stones should be swept and what types of fabrics should be used on brushes.</p>

<h4>Oh... And now Epicodus has a team.</h4>
